* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    background-color: #E3E6E6;
}
a{
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    flex-direction: row;
    position: fixed;
    background-color: #131921;
    width: 100%;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}



nav a {
    border: 1px solid rgba(255, 255, 255, 0);
}

nav a:hover {
    border: 1px solid white;
}

.logo-location {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-location a {
    text-decoration: none;
}

.logo {
    display: flex;
    padding: .5rem .2rem .3rem 0.2rem;
    border: 1px solid rgba(255, 255, 255, 0);
    margin-right: .5rem;
}

.logo-link{
    border: 1px solid rgba(255, 255, 255, 0);
}

.logo-link:hover{
    border: 1px solid white;
}
.logo span {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

.logo:hover {
    border: 1px solid rgba(255, 255, 255, 0);
    border-radius: 2px;
}

.logo img {
    width: 100px;
}

.deliver {
    display: flex;
    text-decoration: none;
    color: white;
    align-items: end;
    border: 1px solid rgba(255, 255, 255, 0);
    padding: .5rem .5rem;
}



.deliver i {
    margin: .5rem .3rem 0 .5rem;
}

.above-text {
    font-size: 12px;
}

.below-text {
    font-size: 15px;
    font-weight: bolder;
}




.flag {
    width: 20px;
}

.search-bar {
    width: 55%;
    flex: 1;
    margin: auto;

}

.search-bar form {

    display: flex;
    flex-direction: row;

    flex-shrink: 5;
    margin-left: 1rem;

}

#search-text-bar {
    width: 90%;
    border: none;
    /* color: red; */

    padding: 0 1rem;
    font-size: 16px;
}


.search-icon {
    display: flex;
    align-items: center;
    background: #FEBD69;
    text-align: center;
    padding: 0 .8rem;
    font-size: 1.2rem;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

#category {
    padding: .7rem;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border: none;
    background-color: #E6E6E6;
}


.lang-singin-order {
    display: flex;
    justify-content: space-between;
}

.lang-singin-order a {
    text-decoration: none;
    color: white;
}

.lang {
    display: flex;
    padding: 1rem;
}

.lang select {
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-weight: bolder;
}

.sing-in {
    display: flex;
    padding: .5rem .5rem;
    margin: 0 .5rem;
    flex-direction: column;

}

.return-order {
    padding: .5rem .5rem;
    margin: 0 .5rem;
}

.cart {
    padding: 0.5rem 0rem;
    margin: 0 .1rem;
    display: flex;
    align-items: center;

}

.cart i {
    font-size: 1.5rem;
}

.spacing {
    height: 69px;
    
}

.nav-bottom {
    background-color: #262F3E;
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
}

.left a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: .7rem .6rem;
    border: 1px solid rgba(255, 255, 255, 0);
    font-size: .9rem;

}

.left a:hover {
    border: 1px solid white;
}

.left a i {
    font-size: 1rem;
}

.right img {
    width: 384px;
    height: fit-content;
}

main {
    width: 1500px;
    margin: auto;
}

.background {
    width: 1500px;

}

.shopping-section {
    padding: 0 .5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-bottom: .5rem;

}

.container {
    width: 95%;
    padding: 1rem;
    margin: .6rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.container h2 {
    margin-bottom: 1rem;
    font-size: 1.3rem;
}

.grid-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    margin-bottom: 1rem;
}

.common-box img {
    width: 100%;
}

.common-box a {
    text-decoration: none;
    color: black;
}

.common-box p {
    font-size: 13px;
}

.container2 {
    width: 95%;
    padding: 1rem;
    margin: .6rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container2 a img {
    width: 100%;
    height: 29vh;

}

.container2 h2 {
    margin-bottom: .5rem;
    font-size: 1.3rem;
}

.see-deals {
    color: #007185;
    text-decoration: none;
}

.see-deals:hover {
    color: #c7511f;
}

.apper-on1200 {
    display: none;
}




.scroll{
    overflow-x: scroll;
    display: flex;
    
}



.scroll-bar{
    padding: 0 1rem;
    margin-bottom: 1rem;
}
.scrollBar-container{
    background-color: white;
    padding: 2rem;
}


.red-heading{
    display: flex;
    align-items: center;
    margin-bottom: .5rem;
}

.red-text{
    color: #CC0C39;
    font-size: 11px;
    font-weight: bolder;
    
}


.discount{
    background-color: #CC0C39;
    color: white;
    padding: .3rem .5rem;
    font-size: 12px;
    display: inline-block;
    margin-right: .5rem;
}

.price-container{
    display: flex;
}

.value{
    display: flex;
    align-items: center;
}

.price{
    font-size: 1.5rem;
}

.selling-price{
    display: flex;
    margin-right: 5px;
}

.selling-price span{
    font-size: 12px;
    margin-top: 4px;
}

.value i{
    font-weight: light;
}

.mrp , .crossed-price{
    font-size: 14px;
}
.mrp{
    margin-right: 5px;
}

.crossed-price{
    display: flex;
    text-decoration:line-through;
}


.top-heading{
    display: flex;
    align-items: end;
    margin-bottom: 1rem;
}

.top-heading h2{
    margin-right: .5rem;
}

.card{
    width: 300px;
    margin-right: 1rem;
    
}

.card .product{
    background-color: #F7F8F8;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.product img{
    width: 100%;
}
.card .product-disc{
    overflow:hidden;
    font-size: 13px;
    margin-top: .5rem;
    margin-bottom: 1rem;
}

.scroll2 .card img{
    width: 200px;
}


.scroll3 .card {
    
    margin: 0 2rem;
}

footer{
    width: 100%;
    color: white;
    background-color: #232F3E;
}

.ontop{
    background-color: #37475A;

    padding: 1rem 0;
    text-align: center;
    font-size: 15px;
    display: block;
    width: 100%;
}

.ontop:hover{
    background-color: #485769;
}

.links{
    width: 100%;
    padding-top: 3rem;

}

.footer-container{
    display: flex;
    justify-content: space-between;
    
}


footer .logo{
    border: none;
}
footer .logo:hover{
    border: none;
}

.footer-box{
    padding: 0 .5rem;
    display: flex;
    flex-direction: column;
    text-align: start;
}

.footer-link{
    margin-top: 5px;
    font-size: 13px;
    color: #D7D7DD;
}

.footer-link:hover{
    text-decoration: underline;
}

.links{
    width: 1000px;
    margin: auto;
    padding-bottom: 3rem;
}
 
.footer-box2{
    width: 150px;
}

hr{
    border-top:  solid gray;
    border-bottom: 0;
}

.logo-lang-box{
    width: 1000px;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 2rem 0;
}

.footer-lang i{
    color: white;
    border: none;
}

.footer-lang{
    background-color: rgba(37, 37, 37, 0);
   border: none;
   border: 1px solid gray;
   padding: .5rem;
   margin-right: 1rem;
   margin-left: 7rem;
   border-radius: 5px

}

.footer-country{
    border: 1px solid gray;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    padding: .5rem 1rem;
    border-radius: 5px
}

#footer-lang-btn{
    
    background-color: #232F3E;
    color: white;
    border: none;
}


.amazon-other-services{
    background-color: #131A22;
    width: 100%;
    padding: 2rem 0rem;
}

.services-container{
    width: 1000px;
    margin: auto;
    
}

.services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
}
.service-name:hover{
    text-decoration: underline;
}
.services p{
    font-size: 13px;
}

.service-name  span {
    font-size: 12px;
    color: gray;
}

.service-name span a:hover{
    text-decoration: underline;
}

.others{
    
    margin: auto;
    margin-top: 2.3rem;
    margin-bottom: .5rem;
}

.term-condition{
    display: flex;
    margin: auto;
    justify-content: center;
    
}

.term-condition P{
    margin: 0 .5rem;
    font-size: 12px;
    
}


.copyright{
    
    text-align: center;
    font-size: 12px;
}

/* ++++++++++++++++++++++++++++++++++++++++++++ media querry ++++++++++++++++++++++++++++++++++++++++++ */

@media (max-width:1500px) {
    main {
        width: 100%;
    }

    main .background {
        width: 100%;
    }
}

@media (max-width:1049px) {

    .right img {
        display: none;
    }
}

@media (max-width:1240px) {
    .shopping-section {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .apper-on1200 {
        display: block;
    }
    .vanishon1200{
        display: none;
    }
}


@media (max-width:1000px) {


    body {
        position: relative;
        width: 1000px;
    }
    
    nav{
        position: relative;
    }
    .spacing {
        display: none;
    }

    .cart .vanish {
        display: none;
    }


    .search-bar form {
        width: 300px;

    }
}